<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="dalGenerator" type="IDG.DalGeneratorConfigSection, IDG.Shared.Utilities"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=sql_server;Initial Catalog=db_name;Integrated Security=True" providerName="System.Data.Sqlclient"/>
  </connectionStrings>
  <unity configSource="unity.config" />
  <dalGenerator 
    BaseNamespace="MyNs"
    TargetDbConnectionStringName="DbConnection"
    DataContractsPath="C:\generated_code\DataContracts\"
    AccessorsPath="C:\generated_code\DatabaseAccessor\"
    ContractsPath="C:\generated_code\Contracts\"
    UnitTestsPath="C:\generated_code\Tests\"
    DbContextClassName="OlapDb"
    BaseAccessorClassName="TableBaseAccessor"
    CreateBaseAccessorClass="true">
    <includedTables>
      <add schema="olap" name="DoctorDim" />
      <add schema="olap" name="CustomerDim" />
      <add schema="olap" name="DateDim" />
      <add schema="olap" name="OrganizationDim" />
      <add schema="olap" name="ProgramTypeDim" />
      <add schema="olap" name="QuestionDim" />
      <add schema="olap" name="CategoryDim" />
      <add schema="olap" name="CommentCategoryBridge" />
      <add schema="olap" name="CommentFact" />
    </includedTables>
  </dalGenerator>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>