<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!-- Managers -->
    <type type="IDG.IDalManager, IDG.Shared.Contracts" mapTo="IDG.Managers.DalManager, IDG.Managers.DalManager">
      <lifetime type="singleton" />
    </type>
    <!-- Engines -->
    <type type="IDG.IDalEngine, IDG.Shared.Contracts" mapTo="IDG.Engines.DalEngine, IDG.Engines.DalEngine">
      <lifetime type="singleton" />
    </type>
    <!-- Accessors -->
    <type type="IDG.IDatabaseAccessor, IDG.Shared.Contracts" mapTo="IDG.ResourceAccess.DatabaseAccessor, IDG.ResourceAccess.DatabaseAccessor">
      <lifetime type="singleton" />
    </type>
  </container>
</unity>